.portfolio
  background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
  background-size: 50%
  padding-top: 94px
  &__title
    margin: auto
    font-size: 30px
    +bold
    line-height: 1.4
    margin-bottom: 95px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slider
  &__image
    margin: auto
@media (max-width: 420px)
  .portfolio
    padding-top: 40px
    &__title
      font-size: 18px
      max-width: 270px
      line-height: 1.3
      margin-bottom: 37px
  .slider
    &__image
      width: 87%